/* styles.css */

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f7c7;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 40px;
    position: relative;
}

section h2 {
    color: #333;
}

/* Color Lines */
.color-line:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #007bff; /* Adjust color as needed */
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    cursor: pointer;
    color: #007bff;
}

.skill-description {
    display: none;
    margin-top: 10px;
    color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
